* {
  margin: 0;
  padding: 0;
  font-family: "Smooch Sans",
  sans-serif;
}

body {
  
    background: linear-gradient(135deg, rgb(232, 241, 241) 23%, rgba(253,247,45,1) 100%); 
    background-size: 500%;
    
}


  
  

.gallery {
  
  position:absolute;
  display: flex;
  text-align:center;
  flex-wrap: wrap;
  justify-content:space-between;
  
  background-color: red;
  border-top: 8px solid black;
  margin-top: 250px;
  
}

.b-cabecera {
  
  display: flex;
  size: 200px;

  margin-left: 100px;
 
  justify-content:left


}

.Texto{
  
  display: flex;
  align-items: center;
  
  flex-direction: column;
  justify-content: right;
  

}

.caja {
  margin: 50px;
  border: 4px black solid;
  border-radius: 20px;
  box-shadow: rgba(34, 23, 189, 0.4) 5px 5px, rgba(75, 36, 165, 0.87) 10px 10px,
    rgba(8, 12, 235, 0.2) 15px 15px, rgba(38, 4, 231, 0.1) 20px 20px,
    rgba(37, 47, 199, 0.05) 25px 25px;
    padding: 6px  4px 6px 4px;
    background-color: rgb(184, 217, 243);


}
.gallery img {
  width: 200px;
  height: 200px;
  
}
.gallery img:hover {
  width: 320px;
  height: 320px;
}
.b-buscador{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  

}
#input{
  
  width: 200px;
  height: 20px;
  margin: 10px
}

.btn {
 background-color: rgb(248, 6, 6);
 width: 90px;
 height: 50px;
 margin: 10px;
 border: 3px  solid black;
 border-radius: 3px 
 

}
.pokeball{
  
  display:flex;
  
  justify-content: right;
  

 
}

.pokeball img:hover {
 
  width: 140px;
  height: 140px;
}

